body{
  margin: 0px;
}

h1{
  margin: 0;
  font-size: 48px;
}

p{
  font-size: 18px;
  margin: 0;
}


.header, 
.footer{
  color: #F9FAF8;
  background: #1F2937;
}

.header{
  display: flex;
  flex-direction: column;
  padding: 0 300px;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px 300px;
}

ul{
  display: flex;
  gap: 12px;
  list-style-type: none;
  align-items: baseline;
}

.header-line{
  font-size: 18px;
  padding: 0px;
  margin: 10px 0;
}

.logo-element{
  margin-right: auto;
  font-weight: 900;
  font-size: 24px;
}

.header-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 40px;
  gap: 40px;
  padding: 100px 0;
}

.header-content-text{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header-content-img{
  width: 800px;
}

.random-info,
.quote{
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  padding: 100px 0;
}

.card-info{
  height: 200px;
  width: 200px;
  border: #3882F6 solid 5px;
  border-radius: 12%;
}

.cards{
  margin: 10px;
  width: 200px;
}

.quote{
  background-color: #E5E7EB;
  padding: 100px 100px;
  align-items: right;
}

.quote-par{
  margin: 0 400px;
  font-size: 36px;
  color: #1F2937;
  text-align: justify;
}